@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
     font-family: 'Mukta', sans-serif;
    background-image: linear-gradient(45deg, rgba(53, 52, 52, 0.931), rgb(21, 58, 77));
    height: 100vh;
}



.calc {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
    
}
.corpo-calc {
    color: white;
    background-image: linear-gradient(150deg, rgb(53, 52, 52), rgba(41, 0, 88, 0.705));
    padding: 12px;
    padding-top: 30px;
    border-radius: 20px;
    border: 0.1px solid white;
}

.btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 0.1px; 
    cursor: pointer;
    background-color: rgb(31,31,31);
    color: white;
    border: none;
    border-radius: 10px;
}

.visor {
    text-align: right;
    margin: 2px;
    width: 202px;
    background-color: rgba(24, 23, 23, 1); 
    border: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 5px 0px;
}